* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

section {
    display: flex;
}

.sidebar {
    padding: 20px;
    width: 20%;
    border-right: 1px solid #ddd;
}

.contact-list {
    padding: 5px;
}

.contact {
    display: flex;
    padding: 10px;
}

.contact img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.top-margin {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
   
}

.chat-header {
   display: flex;
   padding: 20px;
   gap: 3px;
   
}

.chat-header img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.chat-messages {
    padding: 20px;
    flex-direction: column;
    gap: 10px;
   
}

.status-online::before {
    content: "•";
    color: #007f26;
    margin-right: 3px;
}

.status::before {
    content: "•";
    color: red;
    margin-right: 3px;
}

.status {
    color: grey;
    font-size: 12px;
}

.status-online {
    color: gray;
    font-size: 12px;
}

.chat {
    width: 60%;
}

.sent {
   align-self: end;
   background-color: #e4f2f7 ;
   padding: 10px;
   border-radius: 15px;
}

.received {
   padding: 10px;
   border-radius: 10px;
   background-color: #ededed;
   align-self: start;
   
}

.timestamp {
    font-size: 12px;
    margin-top: 3px;
    color: #989798;
    
}

.selected {
    background-color: #ededed;
    border-radius: 10px;
}

.search {
    width: 100%;
    border: 1px solid #ddd;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
}