* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

section {
    display: flex;
}

.sidebar {
    padding: 20px;
    width: 300px;
}

.contact-list {
    padding: 5px;
}

.contact {
    display: flex;
    padding: 10px;
}

.contact img {
    width: 40px;
    height: 40px;
}

.top-margin {
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
}

.chat-header {
   display: flex;
   padding: 5px;
}

.chat-header img {
    width: 40px;
    height: 40px;
}

.chat-messages {
    padding: 20px;
}